.blog-list-style-1 {
	article {
		margin-bottom: 30px;
	}

	.entry-post-content {
		padding: 20px;

		.entry-title {
			font-size: 18px;
		}
	}

	.entry-image {
		.term-category {
			bottom: 20px;
			left: 20px;
		}
	}
}