.gssiacs-page-header {
	height: 200px;
	margin-bottom: 30px;

	.gssiacs-section-content {
		h1 {
			font-size: 30px;
			line-height: 30px;
		}

		.section-breadcrumb {
			padding: 10px 0;
			display: none;

			.gssiacs-breadcrumbs {
				li {
					font-size: 12px;
				}
			}
		}
	}
}