.widget_search {
	.search-form {
		position: relative;

		label {
			position: relative;

			&:after {
				position: absolute;
				content: '\f002';
				font-family: FontAwesome;
				right: 10px;
				top: -2px;

			}
		}

		.search-field {
			border: 1px solid #c9c9c9;
			height: 46px;
			width: 100%;
			padding-left: 5px;
		}

		.search-submit {
			display: none;
		}
	}
}