.gssiacs-h-search {
	.st {
		cursor: pointer;
	}

	&.open {
		.form-content {
			opacity: 1;
			transform: scale(1);
		}
	}

	.form-content {
		display: flex;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		padding: 0 15%;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		opacity: 0;
		transform: scale(0);

		input {
			font-size: 50px;
			text-align: center;
			border-style: solid;
			border-width: 0 0 1px;
			border-color: #fff;
			line-height: 1.5;
			color: #fff;
			background: transparent;
			width: 100%;
		}

		.close-button {
			position: fixed;
			right: 40px;
			top: 20px;
			z-index: 9999;
			color: #fff;
			cursor: pointer;
			font-size: 25px;
		}
	}
}